body{
    /* background-color: #E5E5E5; */
    text-align: center;
    position: absolute;
    font-family: 'Metropolis';
    font-style: normal;
    background-color: white;
    margin: 0px;
    padding: 0px;
}

#hero{
    width: 110vw;
    height: auto;
    background-image: linear-gradient(-70deg, #FFFFFF 0%, #E2F1FF 100%);
}

.logo{
    position: absolute;
    width: 48px;
    height: 48px;
    color: #722ED1;
    margin-top: 5px;
    left: 16.67%;
    right: 80%;
    top: 0.57%;
    bottom: 98.28%;
}

#nav-elements{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 20px;
    position: absolute;
    width: 517px;
    height: 38px;
    left: 683px;
    top: 19px;
}

.nav-element {
    margin: 0 0.8em;
    width: auto;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
}

#button-one{
    width: 142px;
    height: 38px;
    background-color: #FFFFFF;
    border: 1px solid #722ED1;
    color:#722ED1;
    border-radius: 23px;
}

a{
    color: #000000;
    text-decoration: none;
}

#main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 8px 16px;
    margin-top: 100px;
    left: 16.67%;
}

#content{
    display: inline-block;
    width: 30vw;
    text-align: left;
}

#content h1{
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
}

#content p{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

#tag{
    color: #722ED1;
    width: 180px;
    height: 30px;
    background-color: #F7F1FF;
    border-radius: 20px;
    padding: 8px 16px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.image{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/f/f4/Build-website.jpg");
    /* position: absolute; */
    display: inline-block;
    background-size:contain;
    width: 472px;
    height: 300px;
    display: inline-block;
}

#button-two{
    background-color: #722ED1;
    border: 1px solid #722ED1;
    color: white;
    width: 142px;
    height: 38px;
    border-radius: 23px;
}

#button-three{
    width: 142px;
    height: 38px;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    color:#722ED1;
    border-radius: 23px;
}

.topic{
    color: #722ED1;
}

#qulby{
    margin: 10vh 10vw;
    justify-content: center;
    align-items: center;
}

.heading{
    background-color: #F7F1FF;
    width: auto;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #F7F1FF;
    color: #722ED1;
}

.title{
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #160637;
    flex: none;
    order: 1;
    flex-grow: 0;
}

#qulby>p{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-left: 250px;
    margin-right: 250px;
}

#container{
    display: flex;
    flex-direction: row;
    padding-top: 100px;
}

.box{
    /* width: 33%; */
    display: inline-block;
    padding: 0px;
}

.feature{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #160637;
    order: 1;
    width: 22vw;
}

.text{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #8989A2;
    flex: none;
    order: 2;
    flex-grow: 0;
    width:20vw;

}

#products, #engineering{
    display: flex;
    margin-left: 300px;
    margin-bottom: 100px;
}

.inner{
    text-align: left;
    padding-right: 50px;
    padding-left: 50px;
}

#testinomial{
    background-image: linear-gradient(175.54deg, #F9F0FF 25.81%, #E2F1FF 96.38%);
    opacity: 0.47;
    height: 75vh;
}

#quote{
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #160637;
    margin:10vh 25vw 5vh 25vw;
}

#profile{
    height: 80px;
    width: 80px;
    margin-left: 48%;
}

.name{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #000000 !important;
    flex: none;
    order: 2;
    flex-grow: 0;
    
}

#client-logos{
    display: flex;
    height:40px;
    margin-left: 20vw;
    margin-right: 20vw;
}

.logos{
    width: 145px;
    height: 38px;
    display: inline-block;
    margin-left: 5vw;
}

#signup{
    display: flex;
    margin-left: 12vw;
    margin-right: 12vw;
    margin-top: 5vh;
}

#button-four{
    width: 344px;
    height: 48px;
    flex: none;
    order: 1;
    flex-grow: 0;
    background-color: #722ED1;
    color:#E2F1FF;
    border: 1px solid #722ED1;
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
}

#form{
    display: inline-block;
    width:35%;
    margin-left: 5vw;
    width: 480px;
    height: 480px;
    left: 720px;
    top: 3181px;
    
    background-color: #F9F0FF;
}

#trust{
    display: inline-block;
    width: 35%;
    margin-left: 5vw;
    /* margin-top: 5vh; */
    background-color: #F9F0FF;
}

#trust-title{
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #160637;
    text-align: left;
    padding-left: 8%;
}

#trusties{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color:  #8989A2;
}

.images{
    margin-right:5%;
}

input{
    width: 344px;
    height: 48px;
    display: block;
    margin: 14px;
    margin-left: 70px;
    box-sizing: border-box;
}

#form p{
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #8989A2;
    flex: none;
    order: 8;
    flex-grow: 0;
}

footer{
    display: flex;
    margin: 50px 15vw;
    background: #FBFCFF;
}

#footer-text{
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: #160637;
    flex: none;
    order: 1;
    flex-grow: 0;
}

footer div{
    text-align: left;
    width: auto;
    padding-right: 5vw;
}

footer div h3{
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #160637;
}

footer div p{
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: #160637;
    flex: none;
    order: 1;
    flex-grow: 0;
}

#input-footer{
    height: 40px;
    width: 180px;
    padding-left: 20px;
    margin: 0px;
}

.horizontal-list {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

.horizontal-list li {
    display: inline-block;
    margin: 0px 8px 8px 0px;
    font-weight: 100;
    font-size: 0.9rem;
}

i{
    color: #722ED1;
}

@media screen and (max-width:600px){
    #hero, #qulby, #product, #engineering, #signup{
        display: flex;
        flex-direction:column;
        margin: 5vw;
    }
}